<nav class="navbar navbar-expand-lg navbar-light bg-white p-0 m-0">
    <div class="container-fluid  py-0 my-0">
      <!-- <a class="navbar-brand" href="#">Navbar w/ text</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav me-auto mt-2  mb-lg-0 w-50">
            <mat-form-field appearance="fill">
                <mat-label> Search</mat-label>
                <input matInput placeholder="search">
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
        </div>
        
        <span class="navbar-text">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" 
            style="--bs-scroll-height: 100px; vertical-align: middle;">
                <li class="nav-item">
                  <a class="nav-link active dropdown-toggle" aria-current="page" href="#">Eng</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <mat-icon matBadge="4" matBadgeOverlap="true">chat</mat-icon>
                  </a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">
                      <mat-icon matBadge="7" matBadgeOverlap="true" matBadgeColor="warn">notifications</mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../assets/pexels-anastasia-shuraeva-4406721.png" alt="">
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Frank Goodman	
                  </a>
                </li>
                
              </ul>
            
            </span>
      </div>
    </div>
  </nav>

