<app-navbar></app-navbar>

<div class="body"> 
    <div class="conatiner">

        <!-- card-section -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 my-2">
                <div class="card">
                    <div class="row pb-3">
                        <div class="col">
                            <p class="fs-1 mt-1 card-percent-text">30%</p>
                        </div>
                        <div class="col text-end">
                            <i class="fal fa-music"></i>
                        </div>
                    </div>
                    <p class="mb-1 fs-6">Saving for a car loan</p>
                    <small class="fw-400">Lorem Ipsum is simply dummy...</small>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3  my-2">
                <div class="card">
                    <div class="row pb-3">
                        <div class="col">
                            <p class="fs-1 mt-1 card-percent-text">40%</p>
                        </div>
                        <div class="col text-end">
                            <i class="fal fa-chart-pie"></i>
                        </div>
                    </div>
                    <p class="mb-1 fs-6">Saving for home loan</p>
                    <small class="fw-400">Lorem Ipsum is simply dummy...</small>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3  my-2">
                <div class="card">
                    <div class="row pb-3">
                        <div class="col">
                            <p class="fs-1 mt-1 card-percent-text">25%</p>
                        </div>
                        <div class="col text-end">
                            <i class="fal fa-download"></i>                        
                        </div>
                    </div>
                    <p class="mb-1 fs-6">Saving for personal loan</p>
                    <small class="fw-400">Lorem Ipsum is simply dummy...</small>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3  my-2">
                <div class="card">
                    <div class="row pb-3">
                        <div class="col">
                            <p class="fs-1 mt-1 card-percent-text">05%</p>
                        </div>
                        <div class="col text-end">
                            <i class="fal fa-arrows"></i>
                        </div>
                    </div>
                    <p class="mb-1 fs-6">Saving for a study loan</p>
                    <small class="fw-400">Lorem Ipsum is simply dummy...</small>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- recent oreder col -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 my-4">
                <div class="order-card">
                    <p class="fs-5 px-4 pt-4 mt-2">Recent order</p>
                        <app-order></app-order>
                </div>
            </div>
            <!-- new user -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-4  my-4">
                <div class="new-user">
                    <p class="fs-5 px-4 py-4 mt-2">New User Registrations</p>
                    <app-new-user></app-new-user>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 my-4">
            </div>

        </div>


    </div>
</div>

